{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <hr>
  <h4><u>CRUD Flask App</u></h4>
  <p>Simple application with authentication and <b>CRUD</b> functionality using the <u>Python Flask micro-framework</u> and <i>MySQL</i></p>

  <hr>
  <h4><u>Installation</u></h4>
  <p>To use this template, your computer needs:</p>
  <ul>
    <li>Python 3.7.1</li>
    <li>Flask 1.0.2</li>
    <li>Flask-WTF</li>
    <li>Passlib</li>
    <li>MySQL - XAMPP Server</li>
    <li>mysql-connector-python-8.0.13 (<a href="https://dev.mysql.com/downloads/connector/python/">Download link</a>)</li>
  </ul>

  <hr>
  <h4><u>Running the app</u></h4>
  <p>python app.py</p>

{% endblock %}