{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
    <h1>Welcome To CRUD Flask App</h1>
    <p class="lead">This application is built on the Python Flask framework and is the focus for the "Python Flask From Scratch" CRUD series</p>
    {% if session.logged_in == NULL %}
      <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg">Register</a>
      <a href="{{ url_for('login') }}" class="btn btn-success btn-lg">Log in</a>
    {% endif %}
  </div>
{% endblock %}